<section class="top-cta" id="entry">
        <div class="top-cta__inner l-inset-comp-1920">
          <div class="top-cta__grid">
            <div class="top-cta__block top-cta__block--casual">
              <span class="top-cta__icon-wrap" aria-hidden="true"><span class="material-icons top-cta__icon">mode_comment</span></span>
              <div class="top-cta__content">
                <h2 class="top-cta__title">話を聞いてみたい</h2>
                <p class="top-cta__text">カジュアル面談は、くつろいだ雰囲気でのリラックスしたおしゃべりタイムです。リラックスして、フレンドリーなコミュニケーションをお楽しみください！</p>
              </div>
              <button class="top-cta__btn" type="button" data-casual-modal-open><span class="top-cta__btn-inner"><span class="top-cta__btn-text">カジュアル面談</span><span class="top-cta__btn-icon-wrap" aria-hidden="true"><span class="material-icons top-cta__btn-icon">keyboard_arrow_right</span></span></span></button>
            </div>
            <div class="top-cta__block top-cta__block--entry">
              <span class="top-cta__icon-wrap" aria-hidden="true"><span class="material-icons top-cta__icon">directions_run</span></span>
              <div class="top-cta__content">
                <h2 class="top-cta__title">いますぐエントリー</h2>
                <p class="top-cta__text">当社への応募は、あなたの可能性を最大限に活かせる素晴らしい機会です。私たちは新しいメンバーを歓迎し、あなたの経験や熱意を活かす場を提供します。リラックスして、あなたらしく、自由な発想で応募してください。一緒に素晴らしい未来を築きましょう！</p>
              </div>
              <button class="top-cta__btn" type="button" data-entry-modal-open><span class="top-cta__btn-inner"><span class="top-cta__btn-text">応募・エントリー</span><span class="top-cta__btn-icon-wrap" aria-hidden="true"><span class="material-icons top-cta__btn-icon">keyboard_arrow_right</span></span></span></button>
            </div>
          </div>
        </div>
      </section>
