<footer class="top-footer">
      <div class="top-footer__inner l-inset-comp-1920">
        <div class="top-footer__main">
          <div class="top-footer__nav">
            <ul class="top-footer__nav-primary">
              <li><a href="@@topHref">採用トップ</a></li>
              <li><a href="./jobs.html">募集職種</a></li>
              <li><a href="./company.html">会社概要</a></li>
              <li><a href="@@blogHref">ブログ</a></li>
            </ul>
            <ul class="top-footer__nav-secondary">
              <li><span class="top-footer__nav-link top-footer__nav-link--external"><span class="top-footer__nav-label">サービス</span><img class="top-footer__external-icon" src="./public/assets/img/recruit/icon-external.svg" alt="" width="12" height="12" aria-hidden="true" /></span></li>
              <li><span class="top-footer__nav-link top-footer__nav-link--external"><span class="top-footer__nav-label">導入事例</span><img class="top-footer__external-icon" src="./public/assets/img/recruit/icon-external.svg" alt="" width="12" height="12" aria-hidden="true" /></span></li>
              <li><span class="top-footer__nav-link top-footer__nav-link--external"><span class="top-footer__nav-label">資料ダウンロード</span><img class="top-footer__external-icon" src="./public/assets/img/recruit/icon-external.svg" alt="" width="12" height="12" aria-hidden="true" /></span></li>
              <li><span class="top-footer__nav-link top-footer__nav-link--external"><span class="top-footer__nav-label">会社情報</span><img class="top-footer__external-icon" src="./public/assets/img/recruit/icon-external.svg" alt="" width="12" height="12" aria-hidden="true" /></span></li>
              <li><span class="top-footer__nav-link">プライバシーポリシー</span></li>
              <li><span class="top-footer__nav-link top-footer__nav-link--external"><span class="top-footer__nav-label">お問い合わせ</span><img class="top-footer__external-icon" src="./public/assets/img/recruit/icon-external.svg" alt="" width="12" height="12" aria-hidden="true" /></span></li>
            </ul>
          </div>
          <ul class="top-footer__sns">
            <li class="top-footer__sns-item"><span class="top-footer__sns-link top-footer__sns-link--x"><img class="top-footer__sns-icon top-footer__sns-icon--x" src="./public/assets/img/recruit/icon-x.svg" alt="" width="24" height="24" aria-hidden="true" /></span></li>
            <li class="top-footer__sns-item"><span class="top-footer__sns-link"><img class="top-footer__sns-icon top-footer__sns-icon--facebook" src="./public/assets/img/recruit/icon-facebook.svg" alt="" width="12" height="20" aria-hidden="true" /></span></li>
            <li class="top-footer__sns-item"><span class="top-footer__sns-link"><img class="top-footer__sns-icon top-footer__sns-icon--youtube" src="./public/assets/img/recruit/icon-youtube.svg" alt="" width="20" height="20" aria-hidden="true" /></span></li>
          </ul>
        </div>
        <div class="top-footer__brand">
          <div class="top-footer__logo"><img src="./public/assets/img/recruit/logo-footer.png" alt="FRACTAL" width="350" height="58" /></div>
        </div>
        <p class="top-footer__copy">© 2023 example All Right Reserved.</p>
      </div>
    </footer>
